# Supabase config (rellenar con tus llaves del proyecto)
VITE_SUPABASE_URL=https://dzqczularxowvvjxbsem.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR6cWN6dWxhcnhvd3Z2anhic2VtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIzODI2NDksImV4cCI6MjA3Nzk1ODY0OX0.E0ekYwP-gQeFCGi_7CwhhtX7LStuomiq8p4mURengZo
VITE_ADMIN_EMAIL=sanchezmartinezjj22@gmail.com
